{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Blog</title>
</head>
<body>
 <div class="jumbotron"  style="text-align:center;">
      <h1 class="display-4">Web Blog</h1>
 <hr class="my-4">
<p><a class="btn btn-primary btn-lg" href="{{ url_for('register_template') }}" role="button">Register</a></p>
<p><a class="btn btn-primary btn-lg" href="{{ url_for('login_template') }}" role="button">Log in</a></p>
</div>

</body>
</html>

{% endblock %}